.explore {
    width: 100vw;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .slideshow {
        position: relative;
        width: 60vw;
        height: 40vh;

        div {
            width: 80vw;
        }

        .prev,
        .next {
            &:hover {
                background: white;
            }

            background: rgb(117, 112, 112);
            cursor: pointer;
            border: none;
            position: absolute;
            top: 50%;
            margin-top: -22px;
            padding: .75em;
            color: black;
            font-weight: bold;
            font-size: 1.2rem;
        }

        .next {
            right: 0;
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: -1;

            img {
                width: 50%;
            }
        }
    }
}