.explore {
    width: 100vw;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .slideshow {
        position: relative;
        width: 60vw;
        height: 40vh;

        .prev,
        .next {
            &:hover {
                background: black;
                color: white;
            }

            background: rgb(65, 62, 62);
            cursor: pointer;
            border: none;
            position: absolute;
            top: 50%;
            margin-top: -22px;
            padding: .75em;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;
            z-index: 1;
        }

        .next {
            right: 0;
        }

        .background {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;

            div {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
            }
        }
    }
}