nav {
    * {
        user-select: none;
    }

    height: 12.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 3em;
    border-bottom: 1px solid black;

    .topLeftLogo {
        font-family: "Fasthand", cursive;
        font-size: 2.5rem;
    }

    .search {
        width: 30%;
        display: flex;
        justify-content: center;
        height: 5vh;
    }

    .searchBar {
        border: 1px solid black;
        border-right: none;
        width: 100%;
        padding-left: .7em;
        border-radius: 1em 0 0 1em;
    }

    .searchBtn {
        &:hover {
            cursor: pointer;
        }

        border: 1px solid black;
        border-radius: 0 1em 1em 0;
        padding-block: .6em;
        padding-left: .5em;
        padding-right: .6em;
    }

    .cart {
        height: 5vh;
    }

    button {
        background: none;
        border: none;
    }
}