nav {
    * {
        user-select: none;
    }

    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 3em;
    border-bottom: 1px solid black;

    .topLeftLogo {
        font-family: "Fasthand", cursive;
        font-size: 2.5rem;
    }

    .search {
        width: 30%;
        display: flex;
        justify-content: center;
        height: 4.5vh;
    }

    .searchBar {
        border: 1px solid black;
        border-inline: 0;
        border-radius: 0;
        width: 100%;
        padding-left: .7em;
    }

    .searchBtn {
        &:hover {
            cursor: pointer;
        }

        border: 1px solid black;
        border-radius: 0 1em 1em 0;
        padding-block: .4em;
        padding-left: .35em;
        padding-right: .4em;
    }

    .cart {
        height: 4.5vh;
    }

    button {
        background: none;
        border: none;
    }

    select {
        display: inline-block;
        vertical-align: top;
        border-radius: 1em 0 0 1em;
        padding-inline: .3em;
    }
}