.product {
    display: flex;
    min-height: 75vh;

    .productImages {
        display: flex;
        align-items: center;
        width: 50%;

        .sideImages {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            gap: 2em;

            img {
                width: 10%;
            }
        }

        .mainImage {
            width: 50%;
        }
    }
}